<div class="paddingtop-results">
  <div class="text-center my-5">
    <h2>There are <%= @users.count %> musicians in <%= @a %>!</h2>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="cards">
        <% @users.each do |user| %>
        <div class="card-product">
          <%= link_to (cl_image_tag user.photo), user_path(user) %>
          <div class="card-product-infos">
            <h2><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></h2>
            <p><%= user.age %> yrs</p>
<!--
            <% user.user_instruments.each do |user_instrument|%>
            <%= user_instrument.instrument.name %><%= user_instrument.years_of_experience %>
            <% end  %> -->
            <hr>
            <div class="mt-4 justify-content-center"><iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src= <%= user.link1 %> ></iframe>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div
        id="map"
        style="width: 100%;
        height: 500px;
        position: sticky;
        top: 64px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
