<div class="container">
  <div class="paddingtop-results">
    <div class="text-center my-5">
      <h1>
      <% if @a == "" %>
      <% if @users.count == 1 %>
      There is <%= @users.count %> <%= @b.downcase %> player!
      <% elsif @users.count == 0 %>
      Sorry, there isn't any <%= @b.downcase %> player available!
      <% else %>
      There are <%= @users.count %> <%= @b.downcase %> players!
      <% end %>
      <% else %>
      <% if @users.count == 1 %>
      There is <%= @users.count %> <%= @b.downcase %> player in <%= @a %>!
      <% elsif @users.count == 0 %>
      Sorry, there isn't any <%= @b.downcase %> player available in <%= @a %>!
      <% else %>
      There are <%= @users.count %> <%= @b.downcase %> players in <%= @a %>!</h1>
      <% end %>
      <% end %>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="cards">
        <% @users.each do |user| %>
        <div class="card-product">
          <%= link_to (cl_image_tag user.photo), user_path(user) %>
          <div class="card-product-infos">
            <div>
              <h2><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></h2>
              <p><%= user.age %> yrs</p>
            </div>
            <div>
              <hr style="margin-top: 2.8em !important;">
              <div class="mt-4 justify-content-center" style="padding-left: 12px;"><iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="<%= user.link1 %>"></iframe>
              </div>
            </div>
          </div>
          <div class="card-product-instruments">
            <% user.user_instruments.each do |user_instrument| %>
            <p><em><strong><%= user_instrument.instrument.name %></strong> for <%= user_instrument.years_of_experience %>
              <% if user_instrument.years_of_experience == "1" %>
              year
              <% else %>
              years
            <% end %></em></p>
            <% end %>
            <p><strong>Prefered style:</strong></p>
            <p><% user.user_styles.each do |user_style| %>
              <% if user_style == user.user_styles.last %>
              <em><%= user_style.style.name %></em>
              <% else %>
              <em><%= user_style.style.name %>, </em>
              <% end %>
            <% end %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div
        id="map"
        style="width: 100%;
        height: 500px;
        position: sticky;
        top: 64px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
