<div class="container">
  <div class="paddingtop-results">
    <div class="text-center my-5">
      <h1>
        <% if @users.count == 1 %>
        There is <%= @users.count %> <%= @b.downcase %> player in <%= @a %>!
        <% elsif @users.count == 0 %>
        Sorry, there isn't any <%= @b.downcase %> player available in <%= @a %>!
        <% else %>
        There are <%= @users.count %> <%= @b.downcase %> players in <%= @a %>!</h1>
        <% end %>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="cards">
        <% @users.each do |user| %>
        <div class="card-product">
          <%= link_to (cl_image_tag user.photo), user_path(user) %>
          <div class="card-product-infos">
            <h2><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></h2>
            <p><%= user.age %> yrs</p>
            <hr>
            <div class="mt-4 justify-content-center"><iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src= <%= user.link1 %> ></iframe>
            </div>
          </div>
          <div class="card-product-instruments">
            <p>Plays</p>
            <hr>
            <p><% user.user_instruments.each do |user_instrument| %>
              <strong><%= user_instrument.instrument.name %></strong> for <%= user_instrument.years_of_experience %>
              <% if user_instrument.years_of_experience == "1" %>
                year
              <% else %>
                years
              <% end %>
            <% end %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div
        id="map"
        style="width: 100%;
        height: 500px;
        position: sticky;
        top: 64px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
