<div class="row justify-content-center my-4">
  <div class="col-12 col-lg-7">
    <div class="card-trip m-3">
      <img src="<%= asset_path 'doruk-yemenici-1597090-unsplash.jpg' %>">
        <div id="avatar-card">
        <%= cl_image_tag @user.photo, class: "card-trip-user avatar-bordered" %>
      </div>
      <div class="card-trip-infos">
        <div class="container text-center">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <p><%= @user.age %> yrs</p>
          <div class="my-3"><%= button_to "Message me",  conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, :class => "btn-message" %></div>
        </div>
      </div>
    </div>
    <div class="card-trip m-3">
      <div class="card-trip-infos">
        <div class="container">
          <h2><i class="fas fa-users"></i> Bands</h2>
          <hr>
          <ul id="instruments">
            <% @members.each do |member| %>
            <li><%= link_to member.band.name, band_path(member.band) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-trip m-3">
      <div class="card-trip-infos">
        <div class="container">
          <h2><i class="fas fa-guitar"></i> Instruments</h2>
          <hr>
            <% @instruments.each do |instrument| %>
            <div class="my-1" >
              <button type="button" class="btn-style" disabled><%= instrument.instrument.name %></button>
            </div>
            <% end  %>
    </div>
        <div class="container">
          <h2><i class="fas fa-music"></i> Styles</h2>
          <hr>
            <% @styles.each do |style| %>
           <div class="my-1" >
              <button type="button" class="btn-style" disabled><%= style.style.name %></button>
            </div>
            <% end %>
        </div>
      </div>
    </div>
        <div class="container">
          <h2>Soundcloud</h2>
          <iframe width="100%" height="190" scrolling="no" frameborder="no" allow="autoplay" src= <%= @user.link1 %> ></iframe>
    </div>
    <div class="card-trip m-3">
      <div class="card-trip-infos">
        <div class="container">
          <h2>Youtube</h2>
          <hr>
          <iframe width= "100%" height="500"
          src= <%= @user.link2 %> ></
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
