<div class="row justify-content-center my-4">
  <div class="col-12 col-lg-7">
    <div class="card-trip m-3">
      <img src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
      <div id="avatar-card">
       <!--  <%= cl_image_tag @user.photo, class: "card-trip-user avatar-bordered" %> -->
       <%= cl_image_tag @user.photo, :transformation=>[
                  {:width=>250, :height=>250, :gravity=>"face",  :crop=>"crop"},
                  {:width=>200}
                ] %>
      </div>

      <div class="card-trip-infos">

            <div class="container text-center">
              <h6><%= @user.first_name %></h6>


            <h3><%= @user.last_name %></h3>


            <p><%= @user.email %></p>
             <p><%= @user.age %> ans</p>

            </div>

          </div>

    </div>

    <div class="card-trip m-3">
      <div class="card-trip-infos">
        <div class="container">
          <h2><i class="fas fa-users"></i> Bands</h2>
          <hr>
          <ul id="instruments">
            <% @members.each do |member| %>
            <li><%= link_to member.band.name, band_path(member.band) %></li>
            <% end  %>
          </ul>
        </div>
      </div>
    </div>

    <div class="card-trip m-3">
      <div class="card-trip-infos">
        <div class="container">
          <h2><i class="fas fa-guitar"></i> Instruments</h2>
          <hr>
          <ul id="instruments">
            <% @instruments.each do |instrument| %>
            <li><%= instrument.instrument.name %></li>
            <% end  %>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-trip m-3">
      <div class="card-trip-infos">
        <div class="container">
          <h2><i class="fas fa-music"></i> Styles</h2>
          <hr>
          <ul id="instruments">
            <% @styles.each do |style| %>
            <li><%= style.style.name %></li>
            <% end  %>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-trip m-3">
      <div class="card-trip-infos">
        <div class="container">
          <h2>Soundcloud</h2>
          <hr>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/632412507&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
      </div>
    </div>
    <div class="card-trip m-3">
      <div class="card-trip-infos">
        <div class="container">
          <h2>Youtube</h2>
          <hr>
          <iframe id="ytplayer" type="text/html" width="640" height="360"
          src="http://www.youtube.com/embed/efo9iPH6hMk?autoplay=1&origin=http://example.com"
          frameborder="0"/>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
